---
import About from './sections/About.astro';
import Experience from './sections/Experience.astro';
import Projects from './sections/Projects.astro';
import Education from './sections/Education.astro';
import Skills from './sections/Skills.astro';
---
<main class="hidden lg:block w-[52%] h-full overflow-y-auto no-scrollbar py-24 space-y-7">
  <About />
  <Experience />
  <Projects />
  <Education />
  <Skills />
</main>
